.course {
  border-top: 1px solid $sand;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1354px;
}

.course--shop {
  max-width: 1020px;
}

.course__image-wrapper {
  width: 100%;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: flex-start;
  background-color: $light-grey;
}

.course__image-wrapper--main {
  max-width: 540px;
  margin: 0 auto;
}

.course__beginning {
  padding-top: 30px;
}

.course__beginning--teacher .course__image-wrapper--main {
  width: 100%;
  margin-bottom: 20px;
}

.course__beginning--teacher .course__image-wrapper--main .course__image {
  border-radius: 7px;
}

.course__main-title {
  @include margin-reset;
  font-family: Museo Cyrl, "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: $dark-blue;
  text-align: left;
  margin-bottom: 10px;
}

.course__info-block {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
  max-width: 350px;
}

.course__info-block td {
  padding: 5px 10px 5px 0;
  text-align: left;
  width: 50%;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.course__price-block {
  padding-bottom: 15px;
}

.course__title {
  @include margin-reset;
  padding: 20px 0 10px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: Museo Cyrl, "Arial", sans-serif;
  color: $dark-blue;
}

.course__text {
  @include margin-reset;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 30px 0;
  max-width: 1020px;
}

.course--contacts .course__text {
  margin: 10px 0;
}

.course__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 840px;
  margin: 0 auto 0 0;
}

.course--contacts .course__images {
  max-width: none;
  margin-bottom: 30px;
}

.course__image {
  display: block;
}

.course__images--by4 .course__image-wrapper {
  width: 24%;
}

.course__images--by3 .course__image-wrapper {
  width: 32%;
}

.course__images--by4 .course__image-wrapper:nth-child(4n),
.course__images--by3 .course__image-wrapper:nth-child(3n) {
  margin-right: 0;
}

//.course__images--by3 .course__image-wrapper {
//  height: 0;
//  padding-bottom: 28.25%;
//  position: relative;
//}
//
//.course__images--by3 .course__image,
//.course__images--by4 .course__image {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  border: none;
//}

.course__link {
  @include margin-reset;
  color: $red;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed $red;
}

.course__text--end {
  font-weight: 600;
  color: $dark-red-brown;
  text-align: center;
  font-size: 18px;
  height: 25px;
}

.course__tabs {
  //border-bottom: 1px solid $grey;
  font-size: 0;
}

.course__tablink {
  padding: 13px;
  border: none;
  border-bottom: 1px solid $light-grey;
  background-color: $white;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  outline: none;
}

.course__tabs button.active {
  //font-size: 10px;
  //font-weight: 700;
  //line-height: 12px;
  color: $red;
  border-bottom: 1px solid $dark-blue;
  font-weight: 700;
}

.course__tabcontent {
  padding: 25px 0 30px 0;
  display: none;
}

.course__tabcontent .review {
  border-radius: 7px;
}

@media (min-width: 640px) {
  .course__beginning {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0 30px 0;
    grid-gap: 20px;
  }

  .course__beginning--teacher {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 40px;
  }

  .course__image-wrapper {
    max-width: 610px;
    margin: 20px auto 20px 0;
  }

  .course__beginning--teacher .course__image-wrapper--main {
    margin-top: 0;
  }
}

  @media (min-width: $tablet-width) {
    .course {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .course__main-title {
      font-size: 30px;
      line-height: 35px;
    }

    //.course__title {
    //  font-size: 20px;
    //  line-height: 26px;
    //}

    //.course__title--video {
    //  text-align: left;
    //}

    .course__info-block td,
    .course__text {
      font-size: 16px;
      line-height: 25px;
    }

    .course__content {
      max-width: 1020px;
      margin: 0 auto;
    }

    .course__tablink {
      padding: 25px;
    }
  }

  @media (min-width: $laptop-width) {
    .course__main-title {
      font-size: 35px;
      line-height: 55px;
    }

    //.course__title {
    //  font-size: 22px;
    //  line-height: 28px;
    //}

    .course__image-wrapper {
      max-width: 840px;
    }

    .course {
      padding-top: 65px;
      padding-bottom: 65px;
    }
  }

