.courses {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}

.courses--teachers {
  max-width: 1354px;
}

.courses__show {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.courses__search {
  width: 100%;
}

.courses__search-form {
  padding: 15px 0;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
}

.courses__search-field {
  background-color: $white;
  padding: 5px 15px;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid $sand;
  flex-grow: 1;
  font-size: 13px;
  -webkit-appearance: none;
  box-shadow: none;
}

.courses__search-button {
  border: none;
  background-color: $sand;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: url("../img/search-icon.svg");
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.courses__search-button:hover,
.courses__search-button:focus {
  opacity: 70%;
}

.courses__catalog {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 15px 0 0 0;
}

.courses__text {
  @include margin-reset;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 20px;
}

.courses__error {
  border: 1px solid $sand;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  color: $grey;
  font-size: 18px;
  line-height: 34px;
  width: 100%;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.courses-hide {
  display: none;
}

.courses__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
  width: 100%;
}

.courses__pagination-link {
  @include margin-reset;
  color: $red;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.courses__pagination-link--left {
  justify-content: flex-start;
  text-align: left;
  width: 45%;
}

.courses__pagination-link--right {
  justify-content: flex-end;
  text-align: right;
  width: 49%;
}

.courses__pagination-link span:first-child {
  margin-right: 10px;
}

@media (min-width: 440px) {
  .courses__catalog {
    justify-content: space-around;
  }
}

@media (min-width: $tablet-width) {
  .courses {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .courses__search-field {
    font-size: 15px;
  }
}

@media (min-width: $laptop-width) {
  .courses {
    padding-top: 65px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .courses--teachers {
    padding-bottom: 60px;
  }

  .courses__show {
    width: 240px;
    position: static;
    margin-right: 40px;
  }

  .courses__catalog {
    padding-top: 65px;
    width: 65%;
    flex-grow: 1;
  }

  .courses__text {
    font-size: 15px;
    line-height: 26px;
    padding-left: 280px;
  }

  .courses__error {
    height: 30vw;
    font-size: 22px;
  }

  .courses__search-field {
    padding: 10px 15px;
  }

  .courses__search-button {
    width: 40px;
    height: 42px;
  }

  .courses__pagination {
    width: 65%;
    margin-left: auto;
  }
}

