.learnings {
  padding: 20px 0 0 0;
}

.learnings__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learnings__images {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learnings__image-wrapper {
  //min-width: 280px;
  max-width: 320px;
  margin: 0 15px 20px 0;
  background-color: $light-grey;
  border-radius: 15px;
  min-height: 180px;
}

.learnings__image {
  display: block;
}

.learnings__image-wrapper:nth-child(2n+2) {
 margin-left: 0;
}

.learnings__item {
  padding-left: 70px;
  min-height: 45px;
}

.learnings__list .learnings__item::before {
  content: "";
  background-image: url("../img/heart-list.svg");
  display: inline-block;
  width: 50px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.learnings__title--course {
  @include margin-reset;
  font-family: Museo Cyrl, "Arial", sans-serif;
  color: $dark-blue;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .learnings {
    padding: 25px 0 0 0;
  }

  .learnings__wrapper {
    justify-content: space-between;
  }

  .learnings__images {
    width: 35%;
  }

  .learnings__image-wrapper {
    min-height: 100px;
  }

  .learnings__list {
    width: 60%;
  }

  .learnings__list--course {
    width: 100%;
  }

  .learnings__list .learnings__item::before {
    width: 60px;
    height: 45px;
  }

  .learnings__title--course {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (min-width: $laptop-width) {
  .learnings {
    padding: 30px 0 0 0;
  }

  .learnings__wrapper {
    align-items: stretch;
  }

  .learnings__list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
  }

  .learnings__title--course {
    font-size: 22px;
    line-height: 28px;
  }

}
