//.news-post h2 {
//  @include margin-reset;
//  font-family: Museo Cyrl, "Arial", sans-serif;
//  font-size: 26px;
//  font-weight: 500;
//  line-height: 36px;
//  color: $dark-blue;
//  text-align: left;
//  margin-bottom: 10px;
//}



//.news-post__item {
//  font-size: 13px;
//  line-height: 20px;
//  font-weight: 400;
//  padding-left: 20px;
//}

//.news-post__item::before {
//  content: "";
//  background-color: $red;
//  font-weight: bold;
//  display: inline-block;
//  width: 10px;
//  height: 10px;
//  border-radius: 50%;
//  position: absolute;
//  top: 7px;
//  left: 0;
//}









.news-post a {
  @include margin-reset;
  color: $red;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px dashed $red;
}





//@media (min-width: $desktop-width) {
//  .news-post li {
//    font-size: 20px;
//  }
//}

