.news-page {
  padding-top: 65px;
  padding-bottom: 65px;
}

.news-page--post {
  border-top: 1px solid $sand;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1354px;
}

.news-page__list {
  @include margin-reset;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.news-page__card {
  margin-bottom: 30px;
  max-width: 600px;
  position: relative;
}

.news-page__image-wrapper {
  width: 100%;
  height: 50vw;
  position: relative;
  margin-bottom: 20px;
}

//.news-page__image-wrapper1:before {
//  content: "";
//  position: absolute;
//  background-image: url("/img/news-card1.jpg");
//  background-size: cover;
//  background-position: center;
//  background-repeat: no-repeat;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//}
//
//.news-page__image-wrapper2:before {
//  content: "";
//  position: absolute;
//  background-image: url("/img/news-card2.jpg");
//  background-size: cover;
//  background-position: center;
//  background-repeat: no-repeat;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//}


.news-page__image {
  display: block;
  background-color: rgb(240,240,240);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-page h2 {
  @include margin-reset;
  font-family: Museo Cyrl, "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: $dark-blue;
  text-align: left;
  margin-bottom: 10px;
}

.news-page p {
  @include margin-reset;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.news-page__link {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}

.news-page__label-wrapper {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 7px;
  left: 7px;
  padding: 7px 7px 5px 7px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-page__label {
  color: $white;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 8px;
}

@media (min-width: 420px) {
  .news-page__image-wrapper {
    height: 51vw;
  }
}

@media (min-width: 520px) {
  .news-page__image-wrapper {
    height: 52vw;
  }
}

@media (min-width: 640px) {
  .news-page__image-wrapper {
    //width: 600px;
    height: 335px;
  }
}

@media (min-width: $tablet-width) {
  //.news-page {
  //  padding-top: 40px;
  //  padding-bottom: 60px;
  //}

  .news-page__list {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
  }

  .news-page__card {
    max-width: 48%;
  }

  .news-page__image-wrapper {
    height: 21vw;
  }
}

@media (min-width: $laptop-width) {
  //.news-page {
  //  padding-top: 65px;
  //  padding-bottom: 65px;
  //}

  .news-page h2 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .news-page p {
    font-size: 15px;
    line-height: 26px;
  }
}

@media (min-width: 920px) {
  .news-page__image-wrapper {
    height: 22vw;
  }
}

@media (min-width: $xlaptop-width) {
  .news-page h2 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .news-page p {
    font-size: 16px;
    line-height: 28px;
  }

  .news-page__label-wrapper {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 15px 15px 13px 15px;
    border-radius: 7px;
  }

  .news-page__label {
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
  }
}

@media (min-width: 1130px) {
  .news-page__image-wrapper {
    height: 23vw;
  }
}

@media (min-width: 1490px) {
  .news-page__image-wrapper {
    height: 24vw;
  }
}

@media (min-width: $desktop-width) {
  //.news-page p {
  //  font-size: 20px;
  //  line-height: 32px;
  //}

  .news-page__image-wrapper {
    height: 21vw;
  }
}
