.page-header__container {
  padding-top: 10px;
  padding-bottom: 15px;
  position: relative;
}

.page-header__logo-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;
}

.page-header__logo-image {
  width: 240px;
  height: 54px;
}

.page-header__title {
  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  padding-left: 57px;
  color: $red-brown;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.page-header__location {
  display: none;
}

.page-header__title--variant {
  text-transform: lowercase;
  padding-left: 42px;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .page-header__logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .page-header__logo-image {
    width: 317px;
    height:71px;
  }

  .page-header__title {
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
    width: 180px;
    display: block;
  }
}

@media (min-width: $laptop-width) {
  .page-header__container {
    padding-top: 16px;
    padding-bottom: 31px;
  }

  .page-header__logo-wrapper {
    padding-top: 15px;
  }

  .page-header__logo-image {
    width: 240px;
    height: 54px;
  }
}

@media (min-width: $xlaptop-width) {
  .page-header__container {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  .page-header__logo-image {
    width: 317px;
    height: 71px;
  }

  .page-header__logo-wrapper {
    padding-top: 10px;
  }

  .page-header__logo {
    margin-right: 16px;
  }

  .page-header__title {
    font-size: 20px;
    line-height: 24px;
    width: 295px;
    margin-right: 16px;
  }

  .page-header__title--variant {
    font-size: 16px;
    line-height: 18px;
    padding-left: 0;
    width: 220px;
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__title--variant {
    font-size: 20px;
    line-height: 24px;
    width: 295px;
    margin-right: 16px;
    padding-right: 0;
    padding-left: 10px;
  }
}
