.question__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  @include margin-reset;
}

.question__item p {
  @include margin-reset;
  margin-bottom: 10px;
}
