.site-list {
  @include margin-reset;
  list-style: none;
  //position: fixed;
  //z-index: 28;
  width: 100%;
  //top: 92px;
  //left: 0;
  //bottom: 0;
  //height: 100%;
  //max-height: 100vh;
  background-color: $dark-sand;
}

.site-list__wrapper {
  @include margin-reset;
  list-style: none;
  border-top: 1px solid $sand;
  padding: 10px 0 10px 0;
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  background-color: $milk;
  //height: 100%;
  //overflow: auto;
  //position: fixed;
  //max-height: 100vh;
}

.site-list__item {
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: $dark-red-brown;
  text-align: left;
}

.site-list__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: $blue;
  text-decoration: none;
  padding: 10px 40px;
  border-bottom: 1px solid $sand;
  display: block;
  cursor: pointer;
}

.site-list__link:hover,
.site-list__link:focus,
.site-list__link:active,
.site-list__link--active {
  font-weight: 600;
}

.site-list__item--menu .site-list__menu-list {
    display: none;
    @include margin-reset;
    list-style: none;
    background-color: $milk;
    padding: 0 0 0 30px;
    //width: 245px;
    //position: absolute;
    //top: 0;
    //left: 50%;
    //font-size: inherit;
    //line-height: inherit;
  }

  .site-list__item--menu:hover .site-list__menu-list {
    display: block;
  }

@media (min-width: $tablet-width) {
  .site-list {
    top: 110px;
  }
}

@media (min-width: $laptop-width) {
  .site-list,
  .site-list__wrapper {
    position: static;
    height: auto;
    max-height: none;
    width: 100%;
    background-color: $dark-red-brown;
    max-width: none;
  }

  .site-list__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 80px;
    overflow: visible;
  }

  .site-list__link {
    font-size: 15px;
    color: $white;
    border-bottom: none;
    padding: 10px;
    white-space: nowrap;
  }

  .site-list__item--user {
    position: absolute;
    top: -130px;
    right: 90px;
  }

  .site-list__item--menu {
    position: relative;
    //z-index: 30;
  }

  .site-list__item--menu .site-list__menu-list {
    //display: none;
    background-color: $dark-red-brown;
    //padding: 0 0 0 30px;
    //width: 245px;
    position: absolute;
    top: 40px;
    left: -15px;
    //font-size: inherit;
    //line-height: inherit;
    //z-index: 30;
    padding: 0 15px;
  }

  .site-list__menu-link {
    display: inline-block;
  }
  //.site-list__item:hover .site-list__menu-list {
  //  display: block;
  //}
}

@media (min-width: $desktop-width) {
  .site-list__wrapper {
    padding: 10px 155px;
  }

  .site-list__item--user {
    right: 165px;
  }

  .site-list__link {
    font-size: 18px;
  }
}
