.sorting {
  padding: 10px 0;
  position: absolute;
  top: 65px;
  right: 0;
}

.sorting__select {
  padding: 8px 5px 7px;
  border: 1px solid $blue;
  border-radius: 5px;
  width: auto;
  font-size: 13px;
  line-height: 18px;
  color: $blue;
  //border: none;
}

@media (min-width: $tablet-width) {
  .sorting {
    left: 85px;
  }
}

@media (min-width: $laptop-width) {
  .sorting {
    top: 100px;
    right: 90px;
    left: auto;
  }
}
