.write {
  background-color: $red;
  border-radius: 15px;
  padding: 70px 50px 35px 50px;
  position: relative;
  min-height: 323px;
  margin-bottom: 40px;
}

.write::before {
  content: "";
  position: absolute;
  background-image: url("../img/decor-icon@1x.png");
  background-repeat: no-repeat;
  width: 81px;
  height: 87px;
  top: -10px;
  left: -7px;
}

.write::after {
  content: "";
  position: absolute;
  background-image: url("../img/decor-icon@1x.png");
  background-repeat: no-repeat;
  transform: rotate(180deg);
  width: 81px;
  height: 87px;
  bottom: -9px;
  right: -8px;
}

.write__title {
  @include margin-reset;
  font-family: Museo Cyrl, "Arial", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: $white;
  margin-bottom: 15px;
}

.write__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.write__form-group {
  flex-grow: 1;
  margin-right: 10px;
  width: 100%;
}

.write__form-line {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: $grey;
  border: none;
  background-color: $white;
  min-height: 50px;
  border-radius: 5px;
  padding: 18px 20px 10px 20px;
  margin: 0 0 10px 0;
  width: 100%;
}

.write__button-wrapper {
  margin: 0 auto 10px auto;
}

.write__button {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: $red;
  border: 2px solid $white;
  box-sizing: border-box;
  border-radius: 5px;
  color: $white;
  padding: 10px 20px;
  min-height: 50px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.write__button:hover,
.write__button:focus,
.write__button:active {
  opacity: 70%;
}

.write__text {
  @include margin-reset;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: $pink;
}

@media (min-width: $tablet-width) {
  .write {
    margin-bottom: 45px;
  }

  .write__title {
    font-size: 22px;
    line-height: 29px;
    width: 375px;
    //margin-left: auto;
    margin-right: auto;
  }

  .write__text {
    font-size: 13px;
    line-height: 16px;
  }

  .write__button {
    margin-right: 0;
  }

  .write__form-group {
    margin-right: 15px;
  }
}

@media (min-width: $laptop-width) {
  .write__title {
    width: 565px;
  }

  .write__form-group {
     width: auto;
   }

  .write__form-group--question {
    width: 100%;
  }
}

@media (min-width: $xlaptop-width) {
  .write {
    margin-bottom: 65px;
    min-height: 280px;
  }

  .write__form-group--question {
    width: auto;
  }

}
